<template name="roomPreview">
    <a href="{{pathFor route="room.view" data=this}}" class="list-group-item room-items-item">
        <h4>
            {{name}}
            <small>
                {{#each author}}
                    {{name.first}} {{name.last}}
                {{/each}}
            </small>
        </h4>

        <div class="panel panel-default room-items-item-last-message">
            <div class="panel-body">
                {{#with lastMessage}}
                    {{> messagePreview}}
                {{/with}}
            </div>
        </div>
    </a>
</template>